html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

button {
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 24px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

button:hover {
    transition: 300ms;
    box-shadow: -2px -2px 5px black inset;
    cursor: pointer;
}